.footer-gradient {
  background: linear-gradient(45deg, #6d5bba, #8d58bf);
  color: white;
}

.footer-heading {
  font-weight: bold;
  color: #ffd700; /* Gold color for headings */
}

.social-icon {
  font-size: 24px;
  color: white;
  transition: transform 0.2s; /* Smooth transition for mouse hover effect */
}

.social-icon:hover {
  transform: scale(1.1); /* Slightly enlarge icons on hover */
  color: #ffd700;
}

.custom-link {
  color: #ffd700; /* Gold color for links */
  transition: color 0.2s;
}

.custom-link:hover {
  color: white;
  text-decoration: none; /* No underline on hover */
}
